---
import { constant } from "../../constant";
import ExampleLayout from "../../layouts/ExampleLayout.astro";
---
<ExampleLayout title=`${constant.title} - Example`>
    <main></main>
</ExampleLayout>

