<nav>
    <ul class="rounded-full border-4 border-zinc-500 px-4 py-2 bg-zinc-500/10 backdrop-blur-lg text-lg justify-center flex items-center gap-10">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/endpoints">Lists Endpoint</a>
        </li>
        <li>
            <a href="/example">Example</a>
        </li>
    </ul>
</nav>